.location{
    position: relative;
    height: fit-content;
    width: 100%;
    left: 0;
    z-index: 0;
    display: flex;
}

  .building {
    max-width: 50%;
    width: 100%;
  }

  .building img {
    width: 100%;
    height: auto;
    }

  .map-iframe {
    flex: 1; 
    width: 100%;
    border: 0;
  }

  .loc-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    z-index: 0;
  }

  .loc-title{
    position: absolute;
    background-color: rgb(109, 12, 12);
    padding: 2em 2em 1em 2em;
    height: fit-content;
    width: fit-content;
    color: rgb(255, 255, 255);
    z-index: 0;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.719);
  }

  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes translateIn {
    0% {transform: translateX(-100px);}
    100% {transform: translateX(0px);}
  }

  @keyframes translateDown {
    0% {transform: translateY(-100px);}
    100% {transform: translateY(0px);}
  }

  @keyframes translateUp {
    0% {transform: translateY(100px);}
    100% {transform: translateY(0px);}
  }
  
  .brand-name.animate {
    animation: fadeIn 2s, translateUp 2s;
  }
  
  .loc-title.animate {
    animation: translateDown 1s;
  }

  @media screen and (max-width: 932px)
  {

    .building{
        position: absolute;
        top: 10px;
        right: 18%;
        padding: 0;
    }
    .building img{
        position: absolute;
        width: 175px;
        height: auto;
        box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.719);
    }

    .loc-title{
      position: relative;
      margin: 0;
      font-size: 1.5em;
      width: 100%;
      padding: .7em;
    }

    .loc-title.animate {
      animation: translateUp 1s;
    }

    .loc-title h3,h4{
        font-size: 1.3em;
    }

    .map-iframe{
      height:390px;
    }
  }