
  .loc-container{
    position: relative;
    height: 50em;
    width: 100%;
    z-index: 0;
    background-color: rgba(73, 13, 13, 0.98);
    padding: 5em;
    justify-items: center;
  }

  .loc-body{
    position: relative;
    font-size: 30px;
    height: fit-content;
    width: 50%;
    margin: 25px;
    z-index: 2;
    padding: 70px;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow:  2px 12px 8px rgba(0, 0, 0, 0.719);
  }

  .loc-img{
    width:400px;
    position: relative;
  }

  .loc-title{
    position: relative;
    font-size: 30px;
    width: fit-content;
    background-color: rgb(14, 63, 154);
    padding: 1em 1em 1em 1em;
    color: rgb(255, 255, 255);
    z-index: 1;
    box-shadow:  2px 12px 8px rgba(0, 0, 0, 0.719);
    border-radius: 5px;
  }

  .loc-content {
  display: flex;
  align-items: center;  
  gap: 200px;         
}


  /*-------------------------------------------------------------Animations-------------------------------------------------------------*/

  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes translateIn {
    0% {transform: translateX(-100px);}
    100% {transform: translateX(0px);}
  }

  @keyframes translateDown {
    0% {transform: translateY(-100px);}
    100% {transform: translateY(0px);}
  }

  @keyframes translateUp {
    0% {transform: translateY(100px);}
    100% {transform: translateY(0px);}
  }
  
  .loc-title.animate {
    animation: fadeIn 1.5s ease-in;
  }

  .loc-body.animate {
    animation: fadeIn 2s ease-in;
  }

  .loc-img.animate{
    animation: fadeIn 2s ease-in, translateIn 1.5s;
  }

  /*-------------------------------------------------------------Mobile-------------------------------------------------------------*/

  @media screen and (max-width: 932px)
  {

    .loc-title{
      bottom: 0;
      position: relative;
      margin: 0;
      font-size: 1.5em;
      width: 100%;
      padding: .7em;
    }

    .loc-body{
      height: fit-content;
      font-size: 20px;
      padding: 1.5em;
      width: 80%;
    }

    .loc-container{
      display: flex;
      flex-direction: column;
      height:fit-content;
      margin-bottom:-100px;
      align-items: center;
    }

    .loc-content{
      justify-items: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .loc-title{
      font-size: 20px;
      width: fit-content;
      padding: 1em 1.5em;
    }

    .loc-img{
      width: 250px;
      margin-top: -250px;
    }
    
  }

  @media screen and (max-width: 440px)
  {
 
    .loc-container{
      height:fit-content;
      margin-bottom:-50px;
    }
    
    .loc-body{
      height: fit-content;
      font-size: 20px;
      width: 15em;
      padding: 1.5em;
    }
    
    .loc-title{
       font-size: 20px;
       width: 15em;     
    }

    .loc-img{
      width: 300px;
      margin-top: -200px;
      margin-bottom: -50px
    }
  }