#root {
  width: 100%;
  height: 100vh;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: BOLD;
  color: white;
}

@media screen and (max-width: 932px)
{
  #root {
    width: 100%;
    height: 100vh;
  }
}
